body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

div .summaryTable {
  padding-top: 1em;
  text-align: left;
}

@media screen and (min-width:800px) {
  div .mainContent {
    margin: 0 auto;
    width: 90%;
  }

  div .graph {
    width: 45%;
    float: left;
    margin-left: 3%;
  }
}
@media screen and (max-width:599px) {
  div .mainContent {
    margin: 0 auto;
    width: 100%;
  }
}

.nav ul {
  list-style: none;
  background-color: #444;
  padding: 0;
  margin: 0;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
}

.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a:hover {
  background-color: #005f5f;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    //float: left;
  }

  .nav {
    background-color: #444;
  }

  .navBarLeftAlign {
    float: left;
  }

  .navBarRightAlign {
    float: right;
  }
}
